<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>VK DGate - About Us</title>
<!-- Bootstrap Core CSS -->
{% load static %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<!-- Custom CSS -->
<link href="{% static "css/theme.css" %}" rel="stylesheet">
<!-- Custom Fonts -->
<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="index.html">
		VK DGate </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="index.html">Главная Страница</a>
			</li>
			<li>
			<a href="about_us.html">О Нас</a>
			</li>
			<li>
			<a href="contact.html">Связаться с нами</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">О Нас</h1>
				<p class="intro-text">
					VK DGate - проект, призванный помочь контент криейторам
				</p>
				<a href="#page-sample" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- Page Sample Section -->
<section id="page-sample">
<div class="container content-section text-left">
	<div class="row">
		<h2 class="text-center">О Нас</h2>
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				VK DGate - проект, призванный помочь контент криейторам набрать реальную аудиторию, принести прибыль с выкладывания контента в открытый доступ.
			</p>
			<p>
				Что он делает? - это сайт, предоставляющий доступ пользователю к файлу после выполнения нескольких простых действий: сделать репост записи, подписаться на автора и др. (Опционально). 
			</p>
			<p>
				Как он работает для вас? - вы регестрируетесь, создаете новую страницу для загрузки, выбираете, что должен сделать пользователь для получения доступа к файлу, загружаете сам файл (или оставляете ссылку на скачивание) и получаете готовую ссылку.
			</p>
			<p>
				Как он работает для пользователя? - пользователь видит в вашем посте ссылку на скачивание, переходит по ней, выполняет простые действия и получает доступ к файлу.
			</p>
			<p>
				Пример применения? - Вы рисуете шрифты (пишете музыку, создаете видео, фотографируете и т.д.), вам нужна аудитория, которая в будущем будет покупать эти самые шрифты (альбомы, биты, клипы), вы выкладываете пост с превью шрифта, в описании прикладываете ссылку на скачивание через наш ресурс. В итоге пользователь, который заинтересовался в скачивании получает нужный файл, а вы получаете подписчика, возможно заинтересованного в вашем контенте (иначе стал бы он его скачивать?), активность в паблике, расширение аудитории (устанавливая в качестве одного из условий репост) и др. Таким образом идет двусторонняя взаимовыгодная отдача. 
			</p>
		</div>
	</div>
</div>
</section>
<!-- Footer -->
<footer>
<div class="container text-center">
	<p class="credits">
		Copyright &copy; VK DGate team 2018<br/>
	</p>
</div>
</footer>
<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- Plugin JavaScript -->
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static "js/theme.js" %}"></script>
</body>
</html>