<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>VK DGate</title>
<!-- Bootstrap Core CSS -->
{% load static %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<!-- Custom CSS -->
<link href="{% static "css/theme.css" %}" rel="stylesheet">
<!-- Custom Fonts -->
<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="http://127.0.0.1:8000/index/">
		VK DGate </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
                <a href="http://127.0.0.1:8000/index/"> <font color="black">Главная страница </font> </a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->

<!-- About Section -->
<section id="about">
<div class="container content-section text-center">
	<div class="row">
		<h2>Спасибо, ваш гейт был создан!</h2>
        <h1>Ссылка:</h1>
	</div>
</div>

</section>

<!-- Contact Section -->
<section id="contact">
<div class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Немного от нас</h2>
			<p>
				 В настоящее время проект находится в стадии разработки и нам интересно выслушать любые ваши идеи и пожелания насчет развития проекта, добавления новых возможностей. Для связи с нами вы можете использовать адрес 
			</p>
			<p>
				<i><a href="mailto:vkdgate_team@gmail.com" style="border-bottom:1px dashed #ccc;">vkdgate_team@gmail.com</a></i>
			</p>
			<!--<ul class="list-inline banner-social-buttons">
				<li>
				<a href="https://twitter.com/wowthemesnet" class="btn btnghost btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
				</li>
				<li>
				<a href="https://www.facebook.com/pages/wowthemesnet/562560840468823" class="btn btnghost btn-lg"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a>
				</li>
				<li>
				<a href="https://plus.google.com/u/0/b/110916582192388695332/110916582192388695332/posts" class="btn btnghost btn-lg"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google+</span></a>
				</li>
			</ul>
			-->
		</div>
	</div>
</div>
</section>
<!-- Footer -->
<footer>
<div class="container text-center">
	<p class="credits">
		Copyright &copy; VK DGate team 2018<br/>
		
	</p>
</div>
</footer>
<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- Plugin JavaScript -->
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static "js/theme.js" %}"></script>
</body>
</html>